<!DOCTYPE html>
<html>
    <head>
        <title>Machine Learning</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
        $(function() {
          $('#opencam').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/open_camera',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        </script>

    </head>
    <body>
      <center> <h1 class="logo"> YUGIOH APP </h1> </center>
            <strong><nav>
                <ul class="menu">
                  <li><a href="{{ url_for('home') }}">HOME</a></li>
                  <li><a href="{{ url_for('Deck') }}">DECK</a></li>
                </ul>
              </nav></strong>
            </div>
        </header>
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </body>
    </html>
        </div>
        <div class="middle_buttons2">
          <form class="p-3 text-center" action="/", method="post" enctype="multipart/form-data">
              <input class="insertbutton1" type="file" name="imagefile" id="files">
              <label class="button" for="files">Choose a file</label>
              <input class="insertbutton2" type="submit" value="Predict Image" >
          </form>
        </div>

          <div class="middle_buttons">
            <div class="left">
              <form>
                <button id="opencam"> Take Picture </button>
              </form>
            </div>


            <div class="right">
              <form action="/predict", method="post" enctype="multipart/form-data"> 
                <button  type="submit"> Predict Image </button>
              </form>
            </div>
          
          </div>

        
      <center> <img src="static/images/yugioh.jpg"> </center>
        <div class='text-center'> {% if x %} 
            <center><img src="static/images/result.jpg" </center>
            <center> {{x}} </center>
            {% endif %}
        </div>
        <div class='text-center'>{% for table in tables %}
            <center>{{ table|safe }}</center>
            {% endfor %}
        </div>

    </body>
</html>